.carrito-container {
    background-color: #000000;
    min-height: 70vh;
    padding-top: 0px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carrito-titulo {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #8A2BE2;
    display: inline-block;
    padding-bottom: 10px;
    text-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
}

.carrito-table-wrap {
    background-color: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    border: 2px solid #ff9500;
    box-shadow: 0 0 10px #ff9500;
}

.icon-carrito-h{
    width: 40px;
    transform: translateY(-9px);
}

.gamer-table tbody tr,
.gamer-table tbody td {
    background-color: #080808;
    color: #ffffff;
    border-bottom: 1px solid #222 !important;
}

.gamer-table .producto-nombre {
    color: #ffffff !important;
}

.gamer-table thead {
    background: linear-gradient(90deg, #1a1a1a, #2a2a2a);
    border-bottom: 2px solid #ff9500;
}

.gamer-table th {
    padding: 12px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #ff9500;
    background-color: #1a1a1a !important;
}

.gamer-table td {
    padding: 10px 15px;
    vertical-align: middle;
    border-bottom: 1px solid #222;
}

.thumb-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #444;
}

.carrito-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.producto-nombre {
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
}

.badge-categoria {
    background-color: #222;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #ff9500;
    border: 1px solid #ff9500;
}

.cantidad-badge {
    background-color: #333;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    color: #ff9500;
    border: 1px solid #ff9500;
}

.subtotal-text {
    font-weight: 700;
    color: #39ff14;
    font-size: 1.1rem;
}

.btn-eliminar {
    color: #ff4d4d;
    background: transparent;
    border: 1px solid #ff4d4d;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-eliminar:hover {
    background-color: #ff4d4d;
    color: white;
    box-shadow: 0 0 10px rgba(255, 77, 77, 0.5);
}

.resumen-compra {
    background-color: #080808;
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid #8A2BE2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px #8A2BE2;
    margin-bottom: 30px;
}

.total-wrapper {
    font-size: 1.5rem;
}

.label-total {
    color: #aaa;
    margin-right: 10px;
    font-weight: 700 ;
}

.monto-total {
    color: #8A2BE2;
    font-weight: 800;
    font-size: 1.6rem;
    text-shadow: 0 0 2px #8A2BE2;
}

.acciones-carrito {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-gamer {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-danger-gamer {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #000000;
}
.btn-danger-gamer:hover {
    color: #d32f2f;
    box-shadow: 0 0 15px #d32f2f;
    border: 1px solid #d32f2f;
}

.btn-outline-gamer {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #000000;
}
.btn-outline-gamer:hover {
    color: #8A2BE2;
    box-shadow: 0 0 15px #8A2BE2;
    border: 1px solid #8A2BE2;
}

.btn-success-gamer {
    background-color: #ffffff;
    color: black;
    border: 1px solid #ffffff;
    font-weight: 800;
}

.btn-success-gamer:hover {
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.carrito-vacio {
    padding: 50px;
    background-color: #111;
    border-radius: 15px;
    border: 2px dashed #333;
    margin-top: 0px;
}

.icono-vacio {
    font-size: 4rem;
    color: #333;
    margin-bottom: 20px;
}

.btn-primary-gamer {
    background-color: #ff9500;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
    display: inline-block;
}

.btn-primary-gamer:hover {
    box-shadow: 0 0 20px #ff9500;
    color: #ffffff;
}

@media (max-width: 768px) {
    .resumen-compra {
        flex-direction: column;
        text-align: center;
    }

    .acciones-carrito {
        justify-content: center;
        width: 100%;
    }

    .btn-gamer {
        width: 100%;
    }

    .gamer-table thead {
        display: none;
    }

    .gamer-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        text-align: right;
        border-bottom: 1px solid #333;
    }

    .gamer-table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #8A2BE2;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}